# Helper to resolve issues with configs that have SPI enabled but I2C
# modular, meaning we can't build the codec driver in with I2C support.
# We use an ordered list of conditional defaults to pick the appropriate
# setting - SPI can't be modular so that case doesn't need to be covered.

config IPROC_SND_CODEC_WM8955
	tristate "Support sound codec wm8955"
	depends on ARCH_IPROC && IPROC_GSIO_SPI
	default m
