CONFIG_ARM=y
CONFIG_TARGET_BCMHX4=y
CONFIG_LOCALVERSION="'-Broadcom XLDK-3.8.1'"
CONFIG_SYS_EXTRA_OPTIONS="IPROC_DDR_ECC"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_SYS_NS16550=y
CONFIG_SYS_PROMPT="u-boot> "
