BR2_arm=y
BR2_cortex_a9=y
BR2_PRIMARY_SITE="git.rtp.broadcom.com/dl"
BR2_BACKUP_SITE="http://sources.buildroot.net/"
BR2_KERNEL_MIRROR="http://www.kernel.org/pub/"
BR2_DEPRECATED=y
BR2_SHARED_STATIC_LIBS=y
BR2_PACKAGE_OVERRIDE_FILE="$(TOPDIR)/local.mk"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOPDIR)/host/usr"
BR2_TOOLCHAIN_EXTERNAL_GCC_4_9=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_4=y
BR2_TOOLCHAIN_EXTERNAL_WCHAR=y
BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TARGET_OPTIMIZATION="-pipe"
BR2_TARGET_GENERIC_HOSTNAME="iProc"
BR2_TARGET_GENERIC_ISSUE="Welcome to Broadcom Linux"
BR2_INIT_NONE=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/broadcom/iproc/skeleton"
BR2_ROOTFS_POST_IMAGE_SCRIPT="fs/ncustfs/post_image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BINARIES_DIR)"
# BR2_PACKAGE_BUSYBOX is not set
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_NCUSTFS=y
BR2_TARGET_ROOTFS_NCUSTFS_DIR="./board/broadcom/iproc/ncustfs"
BR2_TARGET_ROOTFS_NCUSTFS_LEBSIZE=0x3e000
BR2_TARGET_ROOTFS_NCUSTFS_MINIOSIZE=0x1000
BR2_TARGET_ROOTFS_NCUSTFS_MAXLEBCNT=4096
BR2_TARGET_ROOTFS_NCUSTFS_RT_NONE=y
BR2_TARGET_ROOTFS_NCUST=y
BR2_TARGET_ROOTFS_NCUST_PEBSIZE=0x40000
BR2_TARGET_ROOTFS_NCUST_SUBSIZE=0
