CONFIG_ARM=y
CONFIG_TARGET_BCMSB2=y
CONFIG_LOCALVERSION="'-Broadcom XLDK-3.8.1'"
CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="L2C_AS_RAM,DDR32,NAND_IPROC_BOOT"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_SYS_NS16550=y
CONFIG_SYS_PROMPT="u-boot> "
